* {
    font-family: 'Antonio', sans-serif;
    color:ghostwhite;
}

body {
    background-color: black;
    padding: 20px;
}

#navbar {
    height: 100px;
    background-color: red;
}

#links {
    width: 400px;
    background-color: aqua;
}

#search {
    width: 300px;
    height: 100%;
    background-color: aqua;
}
#titles {
    height: 60px;
    background-color: yellow;
}

#navbar {
    height: 400px;
    background-color: orange;
}